@using Scanner.Models
@{
                /**/

                ViewBag.Title = "Options Menu";
                IList<SideMenu> menu = ((List<SideMenu>)Session["SideMenu"]);
                var user = (User)Session["User"];
                var clnCnt = 0;

                int isFront = 0;
                if (Session["TradeType"] != null)
                {
                    if (Convert.ToUInt32(Session["TradeType"]) > 0)
                    {
                        isFront = 1;
                    }
                }

}

<div class="row" style="width:100%;margin-top:250px;">
    <div class="col-md-4" style="width:100%">
        <fieldset>
            <table style="margin-left:auto;margin-right:auto;width:400px;">
                @foreach (var cat in menu)
                {
                    string display = "";

                    if ((user.Role.IndexOf("Gram") < 0) && (cat.OnlyFor != ""))
                    {
                        if (cat.OnlyFor.IndexOf("|" + user.Id.ToString() + "|") < 0)
                        {
                            display = "none";
                        }
                    }

                    if ((isFront == 1) && (cat.SideMenuId == "ma15"))
                    {
                        display = "none";
                    }


                    if (!string.IsNullOrEmpty(cat.lv1))
                    {
                        var catName = cat.lv1.Split('!')[0];
                        var actName = cat.lv1.Split('!')[1];
                        if (actName != "#")
                        {
                            if (clnCnt == 0)
                            {
                                @:<tr>
                                }
                                <td style="padding-right:20px;padding-bottom:20px;display:@display">
                                    <button class="btn btn-primary btn-lg" style="width:200px;height:100px;white-space: normal;" onclick="gotoPage('Index','Category','catId=@cat.SideMenuId');"><b>@catName</b></button>
                                </td>
                                clnCnt++;
                                if (clnCnt == 4)
                                {
                                @:</tr>
                                clnCnt = 0;
                            }
                        }
                    }
                }
            </table>
            @*@Html.ValidationSummary(true, "Login failed. Check your login details.");*@
        </fieldset>
    </div>
</div>

@{
    if (Session["errorMessage"] != null)
    {
        <script language="javascript">

            var rmsg = "@Html.Raw(Session["errorMessage"].ToString())";
            BootstrapDialog.show({
                //size: BootstrapDialog.SIZE_WIDE,
                title: '<font style="font-size:30px;font-weight:bold;"><i class="glyphicon glyphicon-warning-sign"></i> Warning</font>',
                message: "<font style='font-size:25px;'><div style='max-height:600px;overflow:auto;'>" + rmsg + "</div></font>",
                buttons: [{
                    label: 'OK',
                    cssClass: 'btn-dialog',
                    action: function (dialogItself) {
                        dialogItself.close();
                    }
                }]
            });

        </script>
        Session["errorMessage"] = null;
    }

}