<div class="advert" style="width:355px;">
    @*<table id="advertTable" name="advertTable" style="border:solid 3px;border-color: yellow;" class="blickBorder">*@

    <table id="priceRiseTable" name="priceRiseTable" style="border-collapse:collapse;">
        <tr>
            <td>
                <img src="~/Images/priceRise.png" style="width:350px;" />
            </td>
        </tr>
    </table>
    <br />
    <br />

    <table id="advertTable" name="advertTable" style="border-collapse:collapse;">
        <tr>
            <td>
                <a onclick=" window.open('../Images/adv1.htm','1523847933668','width=1350,height=900,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;"><img src="~/Images/Adv_PoolFence.png" style="width:350px;" /></a>
            </td>
        </tr>
    </table>
    <br />
    <br />
    @*<table id="advertTable2" name="advertTable2" style="border:solid 3px;border-color: yellow;width:296px" class="blickBorder">*@
    <table id="advertTable" name="advertTable" style="border-collapse:collapse;">
        <tr>
            <td>
                <a onclick=" window.open('../Images/adv2.htm','1523847933668','width=1400,height=900,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');return false;"><img src="~/Images/Adv_ExtKit.png" style="width:350px;" /></a>
            </td>
        </tr>
    </table>
</div>
