@using System.Web.Configuration

<div class="jumbotron">
    <table style="width:100%;">
        <tr>
            <td>
                <font class="subPagetitle">@ViewBag.Title</font>
            </td>
        </tr>
    </table>
</div>



