@{
    ViewBag.Title = "Branches";
}

<div style="width:2200px;height:1200px;">
    <iframe src="../html/branches.htm" style="width:inherit;height:inherit;" frameborder="0" id="branchesFrame" name="branchesFrame"></iframe>
</div>