@model Scanner.Models.CoilDetail
@{
    ViewBag.Title = "Scanner Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <h1 style="text-align: center; font-size:100px;">Home Page for Scanner</h1>
</div>
